[{:name scittle/hoplon
  :namespaces [javelin.core
               hoplon.core
               hoplon.dom]
  :js "./scittle.hoplon.js"
  :shadow-config
  {:modules
   {:scittle.hoplon {:init-fn scittle.hoplon/init
                     :depends-on #{:scittle :scittle.javelin}
                     :entries [hoplon.core hoplon.dom]}
    :scittle.javelin {:init-fn scittle.javelin/init
                      :depends-on #{:scittle}
                      :entries [javelin.core]}}}}]
