{:tasks
 {:requires ([babashka.fs :as fs])
  clean {:doc "Start from clean slate."
         :task (do (run! fs/delete (fs/list-dir (fs/file "resources" "public" "js") "**.*"))
                   (fs/delete-tree ".cpcache")
                   (fs/delete-tree ".shadow-cljs"))}
  dev {:doc "Development build. Starts webserver and watches for changes."
       :task (clojure "-M:dev -m shadow.cljs.devtools.cli watch main")}
  prod {:doc "Builds production artifacts."
        :task (clojure {:extra-env {"SCI_ELIDE_VARS" "true"}}
                       "-M:dev -m shadow.cljs.devtools.cli release main")}
  release {:doc "Updates Github pages with new release build."
           :task (shell "script/release.clj")}}}
