{:paths ["src" "resources"]

 :deps
 {org.clojure/clojure {:mvn/version "1.10.3"}
  borkdude/sci        {:git/url "https://github.com/borkdude/sci"
                       :sha "5e3538264ad3198dbbd840a5a2ea5ef7ae5103cd"}
  reagent/reagent {:mvn/version "1.0.0"}
  cljsjs/react {:mvn/version "17.0.2-0"}
  cljsjs/react-dom {:mvn/version "17.0.2-0"}
  cljsjs/react-dom-server {:mvn/version "17.0.2-0"}}

 :aliases
 {:dev
  {:extra-paths ["dev"]
   :extra-deps  {thheller/shadow-cljs {:mvn/version "2.14.0"}}}}}
