{:paths ["src" "resources"]
 :deps
 {org.clojure/clojure {:mvn/version "1.11.1"}
  thheller/shadow-cljs {:mvn/version "2.20.15"}
  org.babashka/sci {:git/url "https://github.com/babashka/sci"
                    :git/sha "87fa2d2648ef809e8c8c87279c51961dca41ed4d"}
  #_{:local/root "../babashka/sci"}
  reagent/reagent {:mvn/version "1.1.1"}
  no.cjohansen/replicant {:mvn/version "2025.03.27"}
  re-frame/re-frame {:mvn/version "1.3.0"}
  cljsjs/react {:mvn/version "18.2.0-1"}
  cljsjs/react-dom {:mvn/version "18.2.0-1"}
  cljsjs/react-dom-server {:mvn/version "18.2.0-1"}
  cljs-ajax/cljs-ajax {:mvn/version "0.8.4"}
  applied-science/js-interop {:mvn/version "0.4.2"}
  funcool/promesa {:mvn/version "11.0.678"}
  io.github.babashka/sci.nrepl
  #_{:local/root "../sci.nrepl"}
  {:git/url "https://github.com/babashka/sci.nrepl"
   :git/sha "75f379c685bbd58c3e23f531339eb144e104937d"}
  io.github.babashka/sci.configs
  #_{:local/root "/Users/borkdude/dev/sci.configs"}
  {:git/url "https://github.com/babashka/sci.configs"
   :git/sha "a96625e839d7b8a8910eaa1cc9ccf01bb9714458"}}
 :aliases
 {:dev
  {:extra-paths ["dev"]
   :extra-deps  {}}}}
