{:deps
 {:aliases [:dev]}

 :dev-http
 {8000 "classpath:public"}

 :builds
 {:main
  {:target     :browser
   :js-options
   {:resolve {"react" {:target :global
                       :global "React"}
              "react-dom" {:target :global
                           :global "ReactDOM"}
              "create-react-class" {:target :global
                                    :global "createReactClass"}}}
   :modules
   {:scittle {:entries [scittle.core]}
    :scittle.reagent {:entries [scittle.reagent]
                      :depends-on #{:scittle}}
    :scittle.cljs-ajax {:entries [scittle.cljs-ajax]
                        :depends-on #{:scittle}}}
   :build-hooks [(shadow.cljs.build-report/hook)]
   :output-dir "resources/public/js"
   :devtools   {:repl-pprint true}}}}
