{:deps
 {:aliases [:dev]}

 :dev-http
 {8000 "classpath:public"}

 :builds
 {:main
  {:target     :browser
   :js-options
   {:resolve {"react" {:target :global
                       :global "React"}
              "react-dom" {:target :global
                           :global "ReactDOM"}
              "create-react-class" {:target :global
                                    :global "createReactClass"}}}
   :modules
   {:scittle {:entries [scittle.core]}
    :scittle.reagent {:entries [scittle.reagent]
                      :depends-on #{:scittle}}
    :scittle.ajax {:entries [scittle.ajax]
                   :depends-on #{:scittle}}
    :scittle.makro-plugin {:entries [scittle.makro-plugin]
                           :depends-on #{:scittle}}
    :scittle.qlkit {:entries [scittle.qlkit]
                    :depends-on #{:scittle}}}
   :build-hooks [(shadow.cljs.build-report/hook)]
   :output-dir "resources/public/js"
   :devtools   {:repl-pprint true}
   :compiler-options {:optimizations :simple}}}}

;; simple optimization because sablono.interpreter line 22
;; cljs: (.setState component next-state)
;; simple: a.setState(f)
;; advanced: a.Ci(f)
;; and this Ci throws a "not defined" error
