{:deps
 {io.github.babashka/scittle {:local/root "../.."}
  io.github.babashka/scittle.build {:local/root "../../build"}
  ;; datascript plugin
  io.github.babashka/scittle.datascript {:local/root "../../plugins/datascript"}}}
