[{:name scittle/dataspex
  :namespaces [dataspex.core]
  :js "./scittle.dataspex.js"
  :shadow-config
  {:modules   
   {:scittle.dataspex {:init-fn scittle.dataspex/init
                       :depends-on #{:scittle}
                       :entries [dataspex.core]}}}}]
